<card>
    <div class="card">
        <div class="box">
            <h1>{{value1}}</h1>
            <h3>{{value2}}</h3>
        </div>
        <div class="icon-case">
            <img src="{{image-href}}" alt="">
        </div>
    </div>
</card>