<dashboard>
<body>
    <script src="../js/script.js"></script> 
    <div class="side-menu">
        <div class="money-tracker">
            <h1>PesoTrack</h1>
        </div>
        <ul>
            <li class="home active"><img src="../img/dashboard_white.png" alt="">&nbsp;<span>Dashboard</span> </li>
            <li class="account"><img src="../img/reading-book_white.png" alt="">&nbsp;<span>Account</span> </li>
            <li class="cal"><img src="../img/teacher2_white.png" alt="">&nbsp;<span>Calendar</span> </li>
            <li class="add"><img src="../img/payment_white.png" alt="">&nbsp;<span>Add Transaction</span> </li>
            <li class="remove"><img src="../img/payment_white.png" alt="">&nbsp;<span>Remove Transaction</span> </li>
            <li class="settings"><img src="../img/settings_white.png" alt="">&nbsp;<span>Settings</span> </li> 
            <li class="signout"><img src="../img/signout_white.png" alt="">&nbsp;<span>Sign Out</span> </li> 
        </ul>
        <div class="user">
            <div class="img-case">
                <img src="../img/user.png" alt="User Image">
            </div>
            <h1>Sal</h1>
        </div>
    </div> 
</body>
</dashboard>