<dashboard>
<body>
    <script src="../../public/js/script.js"></script> 
    <div class="side-menu">
        <div class="money-tracker">
            <h1>PesoTrack</h1>
        </div>
        <ul>
            <li class="home active"><img src="../../public/img/dashboard_white.png" alt="">&nbsp;<span>Dashboard</span> </li>
            <li class="account"><img src="../../public/img/reading-book_white.png" alt="">&nbsp;<span>Account</span> </li>
            <li class="cal"><img src="../../public/img/teacher2_white.png" alt="">&nbsp;<span>Calendar</span> </li>
            <li class="add"><img src="../../public/img/payment_white.png" alt="">&nbsp;<span>Add Transaction</span> </li>
            <li class="remove"><img src="../../public/img/payment_white.png" alt="">&nbsp;<span>Remove Transaction</span> </li>
            <li class="settings"><img src="../../public/img/settings_white.png" alt="">&nbsp;<span>Settings</span> </li> 
            <li class="signout"><img src="../../public/img/signout_white.png" alt="">&nbsp;<span>Sign Out</span> </li> 
        </ul>
        <div class="user">
            <div class="img-case">
                <img src="../../public/img/user.png" alt="User Image">
            </div>
            <h1>Sal</h1>
        </div>
    </div> 
    <div class="container">
        <div class="content">
            <div class="cards">
                <div class="card">
                    <div class="box account">
                        <h1>Sal</h1>
                        <h3>Account</h3>
                    </div>
                    <div class="icon-case">
                        <img src="../../public/img/students.png" alt="">
                    </div>
                </div>

                <div class="card">
                    <div class="box">
                        <h1>$30000</h1>
                        <h3>Income</h3>
                    </div>
                    <div class="icon-case">
                        <img src="../../public/img/income.png" alt="">
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <h1>$5000</h1>
                        <h3>Monthly Budget</h3>
                    </div>
                    <div class="icon-case">
                        <img src="../../public/img/income.png" alt="">
                    </div>
                </div>                
                <!-- Till here-->
                <!-- Calling otherpage-->
                <div id="converter"></div>

            </div>
            <div class="content-2">
                <div class="recent-payments">
                    <div class="title">
                        <h2>Payment Lists</h2>
                    </div>
                    <table>
                        <tr>
                            <th>Product/Service</th>
                            <th>Quantity</th>
                            <th>Amount</th>
                            <th>Due Date</th>
                        </tr>
                        <tr>
                            <td>Hamburger</td>
                            <td>1</td>
                            <td>$9</td>
                            <td>Dec 1</td>
                        </tr>
                        <tr>
                            <td>Milk Tea</td>
                            <td>3</td>
                            <td>$33</td>
                            <td>Dec 1</td>
                        </tr>
                        <tr>
                            <td>Fries</td>
                            <td>1</td>
                            <td>$15</td>
                            <td>Dec 1</td>
                        </tr>
                    </table>
                </div>
                <div class="savings">
                    <div class="title">
                        <h2>Savings</h2>
                    </div>
                    <table>
                        <tr>
                            <th>Satisfied</th>
                            <th>Amount</th>
                        </tr>
                        <tr>
                            <td>Yes</td>
                            <td>$200</td>
                        </tr>
                        <tr>
                            <td>Yes</td>
                            <td>$250</td>
                        </tr>
                        <tr>
                            <td>No</td>
                            <td>$130</td>
                        </tr>
                        <tr>
                            <td>Yes</td>
                            <td>$270</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</dashboard>