{{#if error_msg}}
<div class="row">
  <div class="red">
    <h6 class="red-text text-darken-2"><strong>{{error_msg}}</strong></h6>
  </div>
</div>
{{/if}}

{{#if success_msg}}
<div class="row">
  <div class="green">
    <h6 class="green-text text-darken-2"><strong>{{success_msg}}</strong></h6>
  </div>
</div>
{{/if}}
