<!DOCTYPE html>
<html>
    <head>
        <title>MCO1 || {{ title }}</title>
        <link rel="stylesheet" href="../css/style2.css">
        <link rel="stylesheet" type="text/css" media="all" href="../css/formstyle.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="../js/jquery.maskMoney.min.js"></script>
    </head>
    <body>
        {{{ body }}}
    </body>

</html>