<html>
<head>
    <title>MC01 || PesoTrack</title>
    <link rel="stylesheet" type="text/css" media="all" href="resources/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>

    {{{body}}}

</body>



</html>