<html>
<head>
    <title>MCO1 || {{ title }}</title>
    <link rel="icon" type="image/png" href="../img/expensetracker.png">
    {{#unless style2}}
    <link rel="stylesheet" type="text/css" media="all" href="/css/style.css"> {{/unless}}
    {{#if style2}}
    <link rel="stylesheet" href="../css/style2.css">
    <link rel="stylesheet" type="text/css" media="all" href="../css/formstyle.css">
    {{/if}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    {{#if msg}}
    <script>
        alert("{{msg}}");
    </script>
    {{/if}}

    {{{body}}}

</body>
</html>