<div class="container">
    <div class="content">
        <div class="cards"> 
            {{> card value1=user.firstName value2="Account" image-href="../img/students.png" }}
            {{> card value1=user.currMonthlyIncome value2="Balance" image-href="../img/income.png"}}
            {{> card value1=user.currMonthlyExpense value2="Total expenses this month" image-href="../img/income.png"}}
            {{> converter}}
        </div>
        
    </div>
</div>