<body>
    <script src="../js/script.js"></script>
    <div class="home_header">
        <div class="site_logo">
            <img src="../img/expensetracker.jpg" alt="Expense Tracker Logo" class="logo">
            PesoTrack
        </div>

        <div class="log_nav">
            <a class="register" href="/reg-page">REGISTER</a>
            <a class="login" href="dashboard.html">LOG IN</a>
        </div>
    </div>

    <div class="float_slogan">
        <div class="flt_chld_content1">
            <br>
            <br>
            <center><h2>Peso Tracker</h2></center>
            <center><h3><i>"Expenditures in every adventure!"</i></h3></center>
            <div class="flt_buttons">
                <div>
                    <center>
                        <h3>Have not yet registered?</h3>
                        <input type="button" class="register" value="Sign Up" />
                    </center>
                </div>

                <div>
                    <center>
                        <h3>Already have an account?</h3>
                        <input type="button" class="home" value="Sign In" />
                    </center>
                </div>

            </div>

            <br />
            <br />

            <div>
                <center>
                    <h3>Want to know other foreign currencies?</h3>
                    <input type="button" class="conv" value="Converter" />
                </center>
            </div>

        </div>

        <div class="flt_chld_content1">
            <img class="img_logo" src="../img/side_poster.jpg" alt="Peso Track Side Poster">
        </div>
    </div>
</body>