<head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gravitas+One&family=Poppins:ital,wght@0,400;1,500&display=swap" rel="stylesheet">
</head>

<body>
    <script src="../js/script.js"></script>
  
        <div class="home_header">
                <div class="site_logo">
                    <img src="../img/expensetracker.png" alt="Expense Tracker Logo" class="logo">
                    <i>PesoTrack</i>
                </div>

                <div class="log_nav">
                    <a class="register" href="/reg-page">REGISTER</a>
                    <a class="register" href="/login-page">LOG IN</a>
                </div>
        </div>
    
    <center>
        <div class="float_slogan">
            <div class="flt_chld_content1">

                <center><h1 class="quote"><i>Expenditures in every adventure!</i></h1></center>

                <div class="flt_buttons">
                    <div>
                        <center>
                            <h3>Have not yet registered?</h3>
                            <input type="button" class="register" value="Sign Up" />
                        </center>
                    </div>

                    <div>
                        <center>
                            <h3>Already have an account?</h3>
                            <input type="button" class="login" value="Sign In" />
                        </center>
                    </div>

                    <div>

                        <h3>Want to know other foreign currencies?</h3>
                        <input type="button" class="conv" value="Converter" />

                    </div>

                </div>

            </div>

            <div>
                <img class="img_logo" src="../img/side_poster1.png" alt="Peso Track Side Poster">
            </div>
        </div>
    </center>
</body>