<body>
    <form action="/register" method="post">
    <div class="reglogin_container">
        <center><label><h2>Register</h2></label></center>
        <span>Username:<br /></span>
        <input name="username" type="text" placeholder="Input your username" size="25" />

        <br />


        <span>Password:<br /></span>
        <input name="pwd" type="password" placeholder="Input your password" size="25" />


        <br />

        <span>Confirm Password:<br /></span>
        <input name="confirmPwd" type="password" placeholder="Confirm your password" size="25" />

        <br />

        <span>Monthly Income:<br /></span>
        <input name= "mIncome" type="text" placeholder="What is your monthly income? (optional)" size="25" />

        <br />

        <input type="submit" value="Register" />

        <br />

    </div>
</form>
</body>
