<!--<head>
    <script>

        function checkForm() {
            var valid = false;

            var u_name = document.getElementById('username');
            var p_word1 = document.getElementById('password1');
            var p_word2 = document.getElementById('password2');

            if (u_name.value == "" || p_word1.value == "" || p_word2.value == "") {

                if (u_name.value == "") {
                    f_name.style.backgroundColor = "red";
                    valid;
                }

                if (p_word1.value == "") {
                    p_word1.style.backgroundColor = "red";
                    valid;
                }

                if (p_word2.value == "") {
                    p_word2.style.backgroundColor = "red";
                    valid;
                }

            }

            if (u_name.value || p_word1.value || p_word2.value) {

                if (u_name.value) {
                    u_name.style.backgroundColor = "white";
                    valid;
                }

                if (p_word1.value) {
                    p_word1.style.backgroundColor = "white";
                    valid;
                }

                if (p_word2.value) {
                    p_word2.style.backgroundColor = "white";
                    valid;
                }


            }


            if (u_name.value && p_word1.value) {

                if (p_word1.value) {


                    //if the password is matched with the confirmed password
                    if (p_word1.value == p_word2.value) {

                        p_word1.style.backgroundColor = "white";
                        p_word2.style.backgroundColor = "white";
                       
                        valid = true;
                    }

                    //if the password is not matched with the confirmed password
                    else {
                        p_word1.style.backgroundColor = "red";
                        p_word2.style.backgroundColor = "red";
                        valid;

                    }

                }


            }
            return valid;
        }
    </script>
</head>-->

<script src="../js/validate.js"></script>

<body>
    <form action="/register" method="post">
        <div class="reglogin_container">
            <center><label><h2>Register</h2></label></center>
            <span>Username:<br /></span>
            <input id="username" name="username" type="text" placeholder="Input your username" size="25" />

            <br />


            <span>Password:<br /></span>
            <input id="password1" name="pwd" type="password" placeholder="Input your password" size="25" />


            <br />

            <span>Confirm Password:<br /></span>
            <input id="password2" name="confirmPwd" type="password" placeholder="Confirm your password" size="25" />

            <br />

            <span>Monthly Income:<br /></span>
            <input name="mIncome" type="text" placeholder="What is your monthly income? (optional)" size="25" />

            <br />

            <input id="reg_btn" type="submit" value="Register" />

            <br />

        </div>
    </form>
</body>