<script src="../js/script.js"></script>
<script src="../js/validate.js"></script>
<div class="center-div">
    <div class="form_container" style="max-width: 55rem">
        <form action="/register" method="post">
            <h1>CREATE YOUR PESOTRACK ACCOUNT</h1>
            {{> messages }}
            <div class="form_group">
                <input type="text" name="username" required>
                <label for="username" class="control_label">Username</label>
                <i class="bar"></i>
            </div>
            <div class="form_group">
                <input type="text" name="firstName" required>
                <label for="firstName" class="control_label">First Name</label>
                <i class="bar"></i>
            </div>
            <div class="form_group">
                <input type="text" name="lastName" required>
                <label for="lastName" class="control_label">Last Name</label>
                <i class="bar"></i>
            </div>
            <div class="form_group">
                <input type="password" name="password" class="pass" required>
                <label for="password" class="control_label">Password</label>
                <i class="bar"></i>
            </div>
            <div class="form_group pass2">
                <input type="text" name="pass2" class="pass2" required>
                <label for="pass2" class="control_label">Confirm Password</label>
                <i class="bar"></i>
            </div>
            <div class="form_group">
                <input type="number" name="currMonthlyIncome">
                <label for="currMonthlyIncome" class="control_label">Monthly Income (optional)</label>
                <i class="bar"></i>
            </div>
            <div class="button-container">
                <button type="submit" class="submit"><span>Register</span></button>
            </div>
        </form>
        <p>Already registered? <a href="/login">Login</a>.</p>
    </div>
</div>