<div class="container">
    <div class="transaction_container">
        {{#if transactions}}
            {{#each transactions}}
            {{> transaction}}
            {{/each}}
        {{else}}
            <span> Uh oh! It looks like you do not have any transactions. <a href="/add">Add one now</a>!</span>
        {{/if}}
    </div>
</div>