{{!--
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> --}}
<link rel="stylesheet" href="../css/setaccount.css">


<div class="container">
    <div class="acc-container">
        {{> messages}}
        <div class="profile">
            <h1>Profle Information</h1>
            <h2>Profile Picture</h2>
            <br>
            <div class="profile-pic-div">
                <img src="../img/user.png" id="photo">
                <input type="file" id="file">
                <label for="file" id="uploadBtn">Choose Photo</label>
            </div>
            <form action="/update-user" method="post" class="add_income">
                <div class="personal-info">
                    <h1>Personal Information</h1>
                    <div id="fade1">
                        <h2>Username</h2>
                        <input type="text" class="input" name="username" value="{{user.username}}">
                        <h2>Firstname</h2>
                        <input type="text" class="input" name="firstName" value="{{user.firstName}}">
                        <h2>LastName</h2>
                        <input type="text" class="input" name="lastName" value="{{user.lastName}}">
                        <h2>Monthly Income</h2>
                        <input type="text" class="input" name="currMonthIncome" value="{{user.currMonthIncome}}">
                    </div>
                    <input type="submit" class="btn btn-primary" id="save" value="Save">
            </form>
            <input type="button" value="Show/Hide Name" onclick="toggle()" />
        </div>
    </div>
</div>
</div>
<script src="../js/showhide.js"></script>
<script src="../js/profileupload.js"></script>